body,
ul,
h1,
button,
h2 {
  padding: 0;
  margin: 0;
  border: none;
}
body {
  height: 100vh;
  background: url("./chef.jpg");
  display: flex;
  flex-direction: column;
  position: relative;
}

#content {
  height: 100%;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: all 0.4s;
}

#content.leave {
  opacity: 0;
  transition: all 0.4s;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: end;
  width: 50%;
}

ul > li {
  font-weight: bold;
  /* max-width: 100px; */
}

.header {
  display: flex;
  padding: 10px;
  padding-bottom: 0;
  justify-content: space-between;
  background-color: #80808080;
  max-height: 50px;
  justify-self: flex-start;
  position: fixed;
  width: 100%;
}

.logoGroup {
  display: flex;
  /* gap: 5px; */
  margin: 0 auto;
}

.logoName {
  text-align: center;
  align-self: center;
  color: white;
  border-bottom: 2px solid white;
  padding: 0 0.5rem;
}

.header img {
  content: url("./eat.svg");
  aspect-ratio: 1;
  width: 50px;
}

.header button {
  padding: 1rem 1.5rem 0 1.5rem;
  background: none;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  border-bottom: 2px solid white;
  box-sizing: border-box;
  transition: padding 0.5s;
  /* max-width: 100px; */
}

.header button:hover {
  background-color: #80808080;
  cursor: pointer;
}

.header button.active {
  background-color: #80808080;
  padding: 1rem 1.5rem 1rem 1.5rem;
  transition: padding 0.5s;
}

.homePage,
.menuPage,
.contactPage {
  display: flex;
  flex: 1;
  align-items: center;
  padding-left: 20px;
  opacity: 1;
}

.hero,
.contact,
.hours,
.menu {
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding: 10px;
  gap: 50px;
  position: relative;
}

.hero img {
  content: url("./eat.svg");
  position: absolute;
  aspect-ratio: 1;
  border: 2px solid black;
  padding: 5px;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.hero h2,
.contact h2,
.hours h2,
.menu h2 {
  font-size: 3rem;
  color: white;
  margin: 0 auto;
  filter: drop-shadow(0 0 1rem black);
  text-align: center;
  z-index: 1;
}

.hero h2 > span {
  color: pink;
}

.hero p,
.contact p,
.hours p {
  max-width: 70ch;
  color: white;
  font-size: 1.25rem;
  line-height: 2;
  margin: 0 auto;
  text-align: center;
  white-space: pre-line;
  filter: drop-shadow(0 0 0.1rem black);
  z-index: 1;
}

section.contactPage {
  padding-left: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  grid-template-rows: auto;
}
.contact {
  border-right: 2px solid white;
  padding-right: 50px;
}
.hours {
  padding-left: 50px;
  margin-top: -100px;
}

.contactLabel {
  font-weight: bold;
}

.hours .days {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

section.menuPage {
  margin-top: 100px;
  padding-left: 100px;
  position: relative;
}

.menuItem {
  display: flex;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  flex-wrap: wrap;
}

.menuItem > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.menuItem > div > p {
  font-size: 1.2rem;
  filter: drop-shadow(0 0 1rem black);
}
.menuImg {
  content: url("./vintage.jpg");
  /* aspect-ratio: 1; */
  height: 670px;
  border: 5px solid white;
  box-sizing: border-box;
}

.menu h2 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 700px) {
  section.menuPage {
    justify-content: center;
    padding: 0;
  }
  section.contactPage {
    justify-content: center;
    margin-top: 100px;
    padding-left: 0px;
    margin-left: 0;
  }
  .hours {
    margin-top: 50px;
    padding: 10px;
  }

  .contact {
    padding: 10px;
    border: none;
  }
  .header button {
    padding: 0.25rem 0.25rem 0 0.25rem;
    font-size: 0.75rem;
  }
}
